.headerContainer{
  height: 6rem;
  background-color: #141a29;
}

.headerContent{
  max-width: 1120px;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  align-items: center;



  img{
    cursor: pointer;
  }

  nav{
    margin-left: 5rem;
    height: 5rem;

    @media screen and (max-width: 768px) {
      margin-left: 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    a{
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5rem;
      color: #FFF;
      & + a{
        margin-left: 2rem;
      }
      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        height: 2rem;
        line-height: 1.5rem;
        & + a{
          margin-left: 0rem;
        }
      }
    }
  }

  button{
    margin-left: auto;
  }

}
